@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Expense">Uitgaven</a>
    <a asp-controller="Expense" asp-action="create">Nieuwe Uitgave aanmaken</a>
</div>
