@model ExpenseWeb.Models.ExpenseCreateViewModel

    <form asp-controller="Expense" asp-action="Create" mothod="post">
        <div class="form-group">
            <label asp-for="Amount"></label>
            <input class="form-control" asp-for="Amount" />
            <span class="text-danger" asp-validation-for="Amount"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date"></label>
            <input class="form-control" asp-for="Date" />
            <span class="text-danger" asp-validation-for="Date"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input class="form-control" asp-for="Description" />
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category"></label>
            <select asp-for="Category">
                <option value="Groceries">Groceries</option>
                <option value="Hobbies">Hobbies</option>
                <option value="Pets">Pets</option>
                <option value="Others">Others</option>
            </select>
            <span class="text-danger" asp-validation-for="Category"></span>
        </div>
        <div>
            <label asp-for="PaymentStatusId"></label>
            <select asp-items="@Model.PaymentStatusus" asp-for="PaymentStatusId"></select>
        </div>
        <div>
            <label asp-for="SelectedProductId"></label>
            <select multiple asp-items="@Model.Products" asp-for="SelectedProductId"></select>
        </div>

        <button class="btn btn-secondary" type="submit">Create Contact</button>



    </form>